@import url('https://fonts.googleapis.com/css?family=Lato');

html {
	scroll-behavior: smooth;
}

.lato {
	font-family: 'Lato', sans-serif;
}

.shadow-dark {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
}

.calendar_back {
	background: url("../images/back_choix.jpg") no-repeat center fixed !important;
	background-size: cover!important;
}

body {
	min-width: 820px;
}

.mt-6 {
	margin-top: 80px;
}

@media screen and (min-width:100px) {
	h5.creneau {
		font-size: 15px;
	}

}

@media screen and (min-width:1020px) {
	h5.creneau {
		font-size: 15px;
	}

}

@media screen and (min-width:1250px) {
	h5.creneau {
		font-size: 20px;
	}

}
